.card
  .card-header
    = user
  .card-body
    Signed up:
    %i{class: 'text-primary'}
      = time_ago_in_words(user.created_at)
      ago
    .row
    Last signed in:
    %i{class: 'text-primary'}
      = time_ago_in_words(user.last_sign_in_at || user.created_at)
      ago
  .card-footer
    Confirmed?
    - if user.confirmed?
      .badge.badge-success yes
    - else
      .badge.badge-danger no
