.card
  .card-header
    = user
  .card-footer
    Signed up:
    = time_ago_in_words(user.created_at)
    ago
  .card-footer
    Last signed in:
    = time_ago_in_words(user.last_sign_in_at || user.created_at)
    ago