%hr
%footer
  .container.text-center.p-3
    .row 
      .col-md-4
        BareCourses
        &#169
        = Time.now.year
      .col-md-4
        = link_to privacy_policy_path do 
          Privacy Policy
      .col-md-4
        About Us